<!DOCTYPE html>

<html>

    <head> 
        <title>About</title>
        <link rel="icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png">

        <link rel="stylesheet" href="/css/styles.css">       
    </head>
<body>
    <div class="main-content">
      {{>header}}
    <img class="potrait" src="/images/nik.jpg">  
    {{>footer}}
    </div>   
</body>

</html>
